/* 
    Document   : adminIE
    Created on : Jul 25, 2013, 1:16:09 PM
    Author     : sagud
    Description:
        Purpose of the stylesheet follows.
*/

.firstOpening {
margin-right: 1%;
}


.dayName {
margin-right: 2%;
float: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.sprite-load2, .admin-sprite-load2 {
    background-repeat:no-repeat; 
    background-image:url("../img/spriteIE.png"); 
}

.lock-img {
    width: 24px;
    height: 21px;
    background-position: 3px -64px;
    border-radius: 2px;
}