#cover {
	margin: 45px auto 0 auto;
	padding: 15px;
	background-color: #e2dfd9;
}

#cover-photo {
	background-image: url(../img/cover.jpg);
	height: 230px;
	padding: 15px;
}

#cover-barName {
	float: left;
	margin-top: 150px;
}

#cover-map {
	height: 180px;
	width: 220px;
	border: 2px solid #aabbde;
	border-radius: 2px;
	float: right;
	background-color: #efebe1;
	padding: 10px;
}

#cover-map-title {
	font-size: 16px;
	color: black;
	
}

#cover-map-route {
	width: 50px;
	height: 85px;
	border: 1px solid red;
	border-radius: 2px;
}

#main {
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto 10px auto;
	padding: 0 14px;
	background-color: #e2dfd9;
	text-align: center;
	color: #FFF;
	line-height: 35px;
	vertical-align: middle;
}

#handleBar {
	height: 35px;
	background-color: #E2DFD9;
	white-space: nowrap;
	text-overflow: ellipsis;
	top: 60px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 102;
}

#handleBar-fake {
	height: 35px;
	margin-bottom: 10px;
}

.handleBar-button-small {
	width: 13%;
	float: left;
	margin-right: 2%;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7b8db2), to(#4c5d82));
    background: -webkit-linear-gradient(#7b8db2, #4c5d82);
    background: -moz-linear-gradient(#7b8db2, #4c5d82);
    background: -ms-linear-gradient(#7b8db2, #4c5d82);
    background: -o-linear-gradient(#7b8db2, #4c5d82);
    background: linear-gradient(#7b8db2, #4c5d82);
    -pie-background: linear-gradient(#7b8db2, #4c5d82);
    behavior: url(http://www.drinknlink.com/common/plugins/PIE.htc);
}

.handleBar-button-rating {
	width: 40%;
	float: left;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7b8db2), to(#4c5d82));
    background: -webkit-linear-gradient(#7b8db2, #4c5d82);
    background: -moz-linear-gradient(#7b8db2, #4c5d82);
    background: -ms-linear-gradient(#7b8db2, #4c5d82);
    background: -o-linear-gradient(#7b8db2, #4c5d82);
    background: linear-gradient(#7b8db2, #4c5d82);
    -pie-background: linear-gradient(#7b8db2, #4c5d82);
    behavior: url(http://www.drinknlink.com/common/plugins/PIE.htc);
}

#toBeFixed {
	position: absolute;
}

#toBeFixed-span12 {
	top: 105px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0 auto;
}

#tab-list {
	
}

#tab-list-fake {
	width: 100%;
}

#tab {
	height: 40px;
	margin-bottom: 10px;
	background-color: #c1c0be;
	color: #7b7b7b;
	text-align: center;
	border-radius: 3px 0 0 3px;
}

#content {
	min-height: 1410px;
	background-color: #FFF;
	border-radius: 0 5px 5px 5px;
	color: #000;
}

#right-box {
	height: 260px;
	background-color: #FFF;
	border-radius: 5px;
	background-image: linear-gradient(to bottom, #FFF, #dbdfe6);
}

#right-box-title {
	color: red;
	font-size: 20px;
}

#bottom {
	height: 150px;
	background-color: #344770;
	position: relative;
	z-index: 999;
}