body {
	margin: 0px;
	padding: 20px 0 0 0;
	background-color: #dddad3;
	background-image: url(../img/header.png);
	background-position:50% 0;  
    background-size:contain; 
	background-repeat: no-repeat;
}

#languageBar {
	height: 20px;
	background-color: #000;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 999;
}

#switch-language {
    float: right;
    color: silver;
    font-size:12px;
    margin-left: 4px
}

.divider-language { 
    margin: 0px 5px; 
}

.dnl-ui-sprite { 
    display:inline-block;
    vertical-align:top; 
    background-repeat:no-repeat; 
    background-image:url("../img/sprite.png"); 
}
.dnl-ui-sprite.nl-NL { 
    background-position:-80px -175px; 
    width:15px; 
    height:20px; 
} 
.dnl-ui-sprite.en-US { 
    background-position:-80px -155px; 
    width:15px; 
    height:20px; 
}

#dnl-logo-demo {
	margin: 20px 0 20px 0;
	height: 80px;
    width: 80px;
}

#overview {
	height: 210px;
	margin-bottom: 30px;
}

#video {
	height: 210px;
}

#percentage {
	float: left;
	height: 350px;
}

#percentage-screen {
	weight: 100%;
	height: 305px;
	background-image: url(../img/wave.gif);
	background-position:50% 0;
    background-size:contain; 
	background-repeat: no-repeat;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	behavior: url(http://www.drinknlink.com/common/plugins/PIE.htc);
}

#percentage-value {
	height: 60%;
	line-height: 100%;
	vertical-align: middle;
	text-align: center;
}

#social-media-feed {
	float: left;
	height: 350px;
}

#social-media-feed-switch {
	height: 50px;
	background: #FFF;
}

.social-tab {
	width: 50%;
	text-align: center;
}

#xxx-before {
	margin-bottom: 35px;	
}

#xxx {
	height: 70px;
}