#admin-container {
	background-color: #E2DFD9;
	padding: 0 14px;
}

#admin-header {
    height: 200px;
    line-height: 80px;
	margin: 50px auto;
}

#admin-header-photo {
	height: 200px;
	width: 100%;
}

.admin-index-title {
	border-bottom: 1px solid #334771;
}

#admin-info {
	margin: 10px auto;
}

#admin-barlist {
	margin: 10px auto;
}

.barbox {
	border: 1px solid #AABBDE;
	margin: 5px 0 0 0;
}

.barbox:hover {
	border: 1px solid #334771;
}

#createNew {
	margin-bottom: 50px;
}