/* 
    Document   : sagud
    Created on : 17.05.2013., 13:30:15
    Author     : Sagud
    Description:
        Purpose of the stylesheet follows.
*/
body {
}

.login {
	padding-top: 100px;
	max-width: 1000px;
}
.form-signin {
	max-width: 300px;
	height: 310px;
	padding: 19px 29px 29px;
	background-color: #fff;
	border: 1px solid #334770;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
.inline {
	float: left;
}	
.app {
	max-width: 1000px;
}
.bg {     
    background-color: #000;   
    filter:alpha(opacity=50);     
    opacity:0.5;     
    z-index:1;   
    position:absolute;
}

#footer {
	position: relative;
}

.footer-ul {
	min-width: 300px;
	float: left;
}

#map-canvas {
	height: 400px;
}

#quick-search-panel {
	border: 1px solid black;
    color: #898989;
    background-color: white;
    font-size: 12px;
    height: 200px;
    width: 100px;
	position: relative;
	top: -300px;
	left: 50px;
    z-index: 3;
}
